header{
    display: flex;     
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 112px;
    background-color: #A6E2DB;
    color: #fff;

}
img{
    max-width: 100%;
}

.PrimeiraSessao{
    display:flex;    
    justify-content:center;
    align-items: center;
    height: 500px;
}  
 
   
.Segundasessao{
    display:flex;    
    justify-content:center;
    flex-direction: column;
    align-items: center;
    width: 100%;  
    height: 400px; 
}  
.Segundasessao img{
    width: 350px;
  
}
.Terceirasessao {
    display: flex; 
    width: 100%;
    align-items: center;   
    justify-content: center;    
    border-bottom: 3px solid #D9D9D9;
}    
.Terceirasessao p{
    width: 100%;
    color:#1B6D74;
    padding: 20px;
}
       
 .itens3 > input[type=button]{
    width: 200px;
 }  

.Terceirasessao >.itens{
    width: 380px;
    text-align: center;
    flex-grow: 1;
 
}
.Quartasessao {
    display: flex; 
    width: 100%;
    align-items: center;   
    justify-content: center;       
    height: 70px;
   
}     
    
.Quartasessao > .linha {  
    
    
 } 
.Quartasessao > .Qitens3{
    width: 700px;
    flex-grow: 1;
    
    
 }


 .Qitens3 input[type=text]{
    width: 100%;
    border: none;
    border-radius: 20px;  
    padding: 10px 7px; 
    background-color: #D9D9D9;
    color: #000;
  
}
.Qitens> input[type=button]{
    width: 200px;
 }  

.Qitens > label{
    width: 400px;
    font-size: 15px;
    color: #1B6D74;
    font-weight: bold;
    
}

.Qitens3 ::placeholder {
    color: #1B6D74;
    opacity: 1; 
    text-align: center;
  }
  
  .Quintasessao {
    display: flex; 
    width: 100%;
    align-items: center;   
    justify-content:center;       
  
       
   
   
}
.Quintasessao > .centrocard{
    width: 100%;
   /* flex-grow: 1;*/


    
}

.card1{ 

   width: 100%; 
   padding: 10px;
    height: 200px;
    background-color: #FAFAF5;
    border-radius: 20px;    
    margin: 20px 12px 20px 10px;
    font-size: 12px;
    border: 1px solid #e6E6E5;

     
} 

.Quintasessao > .card2{
  width: 550px;
 
}

.Stitulo > h2:nth-child(1){
    color: #426B1F;
}

 
.card1 >h2{
   
    text-align: start;
    color: #000;
   /* width: 400px;*/
   /* border: 1px solid #000;*/
    
}  
.card1 > .Ptitulo{

    display: flex;
    justify-content:space-between;
    align-items: center;
     width: 100%;
     
 
   /* position: relative;
    right: 60px;
    font-size: 12px;*/
  
   
}
  
.card1 >.Stitulo{
    display: flex;
    justify-content:space-between;
    align-items: center;    
    width: 100%;    
    font-size: 12px;
    margin-top: 12px;
} 

.card2{
   width: 100%;
    height: 300px;
    background-color: #FAFAF5;
    border: 1px solid #e6e6e6;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;     
    position: relative;
    top: -60px;
    left: 20px;
    
   
}  

.card1 > .icones{

   
       display: flex;
       justify-content:flex-end; 
       padding: 50px; 
       width: 100%;
      
   
       
}
.icon{
   
    margin: 5px;
    position: relative;
    left: 51px;      
    color: #1B6D74;
    
}


.card2 > h2{
position: relative;
font-size: 20px;
top: 190px;
color: #1B6D74;
}


.Card2centro{
    width: 100%;
    height: 200px;
    background-color: #000;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;     
   
}
.Centrocard2{
  
width: 90%;
    
    
}
.Centrocard2 h2,h3{
    padding: 10px;
}
.card2 >input[type="button"] {
    width: 100%;
     border-radius: 10px;
     position: relative;
     left: 40px;
     top: -10px;
  
}
    
   



   


